@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: 'Poppins', sans-serif;
}

body{
    background: #dcdce6;
    background-image: url('./assets/Background.png');
}

html,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}